.container {
  display: grid;
  grid-gap: 20px;
  border: 5px dotted var(--green);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  /*grid-template-columns: fit-content(100px) 150px 150px 150px;*/
}
