/*
  justify-items:
  align-items:

  justify-content:
  align-content:

  align-self:
  justify-self:

  justify-* is row axis
  align-* is column axis
*/

.container {
  height: 500px;
  display: grid;
  grid-gap: 20px;
  border: 5px dotted var(--green);
  grid-template-columns: repeat(5, 130px);
  /*grid-template-rows: repeat(4, 100px);*/
  place-items: stretch stretch;
  justify-content: space-between;
  align-content: space-around;
}

.itm {
  background: #3B7575;
}

.itm5 {
  justify-self: center;
  align-self: center;
}
