button {
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-family: inherit;
  font-size: 20px;
  background-color: #C36262;
  margin-bottom: 20px;
  outline: 0;
}

button:hover {
  background: #7F2020;
  cursor: pointer;
}

.flipper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.flipper.flip {
  grid-template-columns: 1fr 1fr;
}
