.track {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  background: #c9c9c9;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

button {
  border: 0;
  font-family: inherit;
  background-color: transparent;
  outline: 0;
}

button:hover {
  background: #e0e0e0;
  cursor: pointer;
}
