.hero {
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  display: grid;
  align-content: center;
  justify-items: center;
  height: 200px;
  background: rgba(255, 255, 255, 0.2);
}
