:root {
  --green: #4e9c4e;
  --black: #2b2b2b;
}

html {
  box-sizing: border-box;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 900;
  font-size: 10px;
  color: var(--black);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--black);
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  margin: 50px;
  background-attachment: fixed;
  letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 35px;
  background-color: var(--green);
}

.item p {
  margin: 0 0 5px 0;
}
