.container {
  margin-bottom: 20px;
  display: grid;
  grid-gap: 20px;
  border: 5px dotted var(--green);
}

.container1 {
  grid-template-columns: repeat(auto-fill, 150px);
}

.item5 {
  grid-column-end: -1;
}

.container2 {
  grid-template-columns: repeat(auto-fit, 150px);
}
