* {
  box-sizing: border-box;
}

body {
  padding: 3em;
  font-family: "Lucida Console", Monaco, monospace;
  background: #2b2b2b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

p {
  margin: 0 0 20px 0;
}

.close {
  border: 0;
  padding: 5px;
  background: #C3626290;
  color: #2b2b2b;
  font-family: inherit;
  position: relative;
}

.close:hover {
  background: #7F202090;
  cursor: pointer;
}

.close:active {
  top: 2px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 80px);
  grid-auto-rows: 80px;
  grid-auto-flow: dense;
}

.item {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}

.item:hover .item__overlay {
  transform: translateY(0);
}

.item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item__overlay {
  background: #4e9c4e32;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: 0.2s;
  transform: translateY(100%);
}

.item__overlay button {
  font-family: inherit;
  border: 1px solid #2b2b2b;
  border-radius: 4px;
  color: #2b2b2b;
  text-transform: uppercase;
  background: #4e9c4e90;
  padding: 5px;
}

.item__overlay button:hover {
  background: #19651990;
  cursor: pointer;
}

.item.v2 {
  grid-row: span 2;
}

.item.v3 {
  grid-row: span 3;
}

.item.v4 {
  grid-row: span 4;
}

.item.h2 {
  grid-column: span 2;
}

.item.h3 {
  grid-column: span 3;
}

.item.h4 {
  grid-column: span 4;
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay-inner {
  background: #2b2b2b;
  width: 700px;
  padding: 20px;
}

.overlay img {
  width: 100%;
}
